*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.main{
    width: 100%;
    background: linear-gradient(to bottom, rgb(148, 148, 226), rgb(44, 44, 232));
    background-position: center;
    background-size: cover;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}

.logo{
    color: #615b57;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}

ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: #fff;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #16113a;
}

.btn{
    width: 100px;
    height: 40px;
    background: #3b346f;
    border: 2px solid #3b346f;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 10px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #16113a;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #333;
    background: linear-gradient(to bottom, rgb(148, 148, 226), rgb(44, 44, 232));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{
    margin: 0 15px;
}

.form-box{
    width: 100%;
    max-width: 450px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    display: none;
}

.form-box.active{
    display: block;
}


h2{
    font-size: 34px;
    text-align: center;
    margin-bottom: 20px;
}

input, select{
    width: 100%;
    padding: 12px;
    background: #eee;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
    transition: 1s;
}

input:hover,select:hover{
    border: 2px solid #333;
}

.button{
    width: 100%;
    max-width: 450px;
    padding: 12px;
    background: #3b346f;
    border-radius: 6px;
    border: none;
    outline: none;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 20px;
    cursor: pointer;
    transition: 0.5s;
}

.button:hover{
    background: #16113a;
}

p{
    font-size: 16px;
    text-align: center;
    margin-bottom: 10px;
}

p a{
    color: black;
    text-decoration: none;
}

p a:hover{
    text-decoration: underline;
}

#admin-dashboard{
    background: transparent;
}

.dashboard {
    display: flex;
    height: 100vh;
  }
  
  .sidebar {
    width: 220px;
    padding: 20px;
  }
  
  .sidebar ul {
    list-style: none;
  }
  
  .sidebar ul li {
    margin-bottom: 15px;
  }
  
  .sidebar ul li a {
    color: black;
    text-decoration: none;
  }
  
  .dashboard-main {
    flex-grow: 1;
    padding: 20px;
  }
  
  .cards {
    display: flex;
    gap: 20px;
  }
  
  .card {
    flex: 1;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  }